@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Courgette');
/*
font-family: 'Raleway', sans-serif;
font-family: 'Courgette', cursive;
*/
html, body { height: 100%; }
body { background: #fff; margin: 0px; padding: 0px; font-family: 'Raleway', sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, ul, li { margin: 0px; padding: 0px; list-style: none; }
a, a:hover, a:focus, a:active, .btn, .btn:hover, .btn:focus, .btn:active { text-decoration: none; outline: none; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; } 
.relative { position: relative; }
/*NAVIGATION BARR*/
.navigation-bar { width: 100%; }
.navigation-bar .navbar-inverse { background: rgba(0, 0, 0, 0.6); }
.navigation-bar .navbar{ border-radius: 0px; border: 0px; margin-bottom: 0px; }
.navigation-bar .navbar .navbar-brand { height: auto; }
.navigation-bar .navbar .navbar-brand img { height: 60px; }
.navigation-bar .navbar .navbar-nav { margin-top: 20px; }
.navigation-bar .navbar .navbar-nav li a { text-transform: capitalize; color: #fff; }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover { background: transparent; }
.navigation-bar .navbar .navbar-nav li.book-now a{ background: #e79e1b; color: #fff; padding: 15px 20px; border-radius: 30px; }
/*NAVIGATION BAR*/
/*HOME SLIDER*/
.home-slider { width: 100%; height: 700px; position: relative; }
.home-slider .slick-list, .home-slider .slick-track { width: 100%; height: 100%; }
.home-slider .slide-1 { background: url('../images/home-slider/slide-1.jpg') no-repeat center center; background-size: cover; width: 100%; height: 100%; }
.home-slider .slide-2 { background: url('../images/home-slider/slide-2.jpg') no-repeat center center; background-size: cover; width: 100%; height: 100%; }
.home-slider .slide-3 { background: url('../images/home-slider/slide-3.jpg') no-repeat center center; background-size: cover; width: 100%; height: 100%; }
.home-slider .slider-caption { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }
.home-slider .slider-caption h2 { color: #fff; font-weight: 700; font-size: 60px; text-transform: uppercase; margin-bottom: 10px; }
.home-slider .slider-caption p { font-size: 24px; color: #fff; margin-bottom: 30px; }
.home-slider .slider-caption a{ font-size: 14px; letter-spacing: 2px; background: #fff; border: 1px solid #fff; padding: 15px 30px; display: inline-block; color: #333; font-weight: 700; border-radius: 2px; }
.home-slider .slider-caption a:hover { background: transparent; color: #fff; }
/*END HOME SLIDER*/
.about-section .page-title{ color: #fcb941; font-size: 36px; font-family: 'Courgette', cursive; margin-bottom: 30px; }
.about-section .page-subtitle { color: #3e4f5c; position: relative; display: block; margin-bottom: 30px; padding-bottom: 10px; font-weight: 700; line-height: 1.6; }
.about-section .page-subtitle:after { content: ""; position: absolute; left: 0; bottom: 0; width: 60px; height: 2px; background-color: #fcb941; }
.about-section p { letter-spacing: 1px; line-height: 2; }
.dark-img { border-radius: 10px; -moz-filter: brightness(0.7); -o-filter: brightness(0.7); -webkit-filter: brightness(0.7); filter: brightness(0.7);}

.light-grey { background: #f1f1f1; }
.row-title { width: 100%; }
.row-title h2 { color: #fcb941; font-size: 36px; font-family: 'Courgette', cursive; margin-bottom: 30px; text-transform: capitalize; text-align: center; }

.menu-list { width: 100% }
.menu-list ul{ width:100%; }
.menu-list ul:after { clear: both; content: ""; display: block; }
.menu-list ul li{ width: 50%; padding: 0px 15px; float: left; margin-bottom: 40px; }
.menu-list ul li:last-child, .menu-list ul li:nth-last-child(2) { margin-bottom: 0px; }
.menu-list ul li .menu-img { width: 100px; height: 100px; float: left; }
.menu-list ul li .menu-img img { width: 100%; border-radius: 50%; }
.menu-list ul li .menu-details { float: right; width: 420px; }
.menu-list ul li .menu-details h2 { font-weight: 700; font-size: 24px; margin: 15px 0px; color: #fcb941; }
.menu-list ul li .menu-details p { font-size: 14px; }

/*TESTIMONIALS SLIDER*/
.page-row { width: 100%; padding: 60px 0px; }
.testimonial-row { background: url('../images/testimonial-bg.jpg') no-repeat center center; background-size: cover; }
.testimonial-row .testimonial-slider { margin: 0px auto; width: 900px; padding: 0px 30px; background: url('../images/testimonial-frame.png') no-repeat center center / 100% 100%; }
.testimonial-row .testimonial-slider .slider-caption h2 { font-family: 'Courgette', cursive; color: #fff; font-size: 36px; margin-bottom: 40px; padding-top: 20px; }
.testimonial-row .testimonial-slider .slider-caption p { color: #fff; font-size: 16px; line-height: 2; margin-bottom: 60px; }
.testimonial-row .testimonial-slider .slick-prev, .testimonial-row .testimonial-slider .slick-next { display: none !important; } 
.testimonial-row a.read-more-testimonials { border-radius: 2px; display: inline-block; text-transform: capitalize; padding: 15px 50px; font-weight: 700; letter-spacing: 2px; background-color: #fcb941; color: #fff; -o-transform: translateY(-48%); -ms-transform: translateY(-48%); -moz-transform: translateY(-48%); -webkit-transform: translateY(-48%); transform: translateY(-48%); }
/*END TESTIMONIALS SLIDER*/
/*Footer*/
.footer-top-bar { background: #1c1c1c; padding: 30px 0px; width: 100% }
.footer-top-bar .footer-section { width: 33.33%; float: left; padding: 0px 15px; }
.footer-top-bar .footer-section h3 { font-size: 22px; font-weight: 700; color: #afbbc6; margin-bottom: 20px; }
.footer-top-bar .footer-section .footer-logo { height: 50px; margin-bottom: 15px; }
.footer-contact-list { width: 100%; }
.footer-quick-links li { padding-left: 0px !important; }
.footer-contact-list li { width: 100%; color: #afbbc6; font-size: 13px; margin-bottom: 10px; padding-left: 20px; position: relative; }
.footer-contact-list li a { color: #afbbc6; }
.footer-quick-links li a { text-transform: capitalize; }
.footer-section p { color: #afbbc6; font-size: 13px; }
.address-list:before { display: inline-block; content: "\f09a"; font-family: 'FontAwesome'; position: absolute; left: 0px; }
.mail-list:before { display: inline-block; content: "\f099"; font-family: 'FontAwesome'; position: absolute; left: 0px; }
.phone-list:before { display: inline-block; content: "\f0e1"; font-family: 'FontAwesome'; position: absolute; left: 0px; }
.footer-social-icon:after { clear: both; display: block; content: ""; }
.footer-social-icon { width: 100%; margin-top: 20px; }
.footer-social-icon li{float: left; margin-right: 10px; }
.footer-social-icon li a{width: 34px; height: 34px; line-height: 34px; border-radius: 50%; text-align: center; display: block; font-size: 16px; color: #fff; }
.footer-social-icon li a:hover { -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; -ms-transition: all 0.4s; transition: all 0.4s; }
.footer-social-icon li.facebook-icon a {background: #3B5A9A;}
.footer-social-icon li.twitter-icon a {background: #56ADF2;}
.footer-social-icon li.linden-icon a {background: #007DB7;}
.footer-bottom-bar { width: 100%; padding: 15px; background: #111; color: #afbbc6; font-size: 12px; line-height: 20px; text-align: center; }
.footer-bottom-bar a { color: #afbbc6; }
.footer-bottom-bar a:hover, .footer-bottom-bar a:focus, .footer-bottom-bar a:active { color: #e79e1b; }
/*End Footer*/


.contact-section .form-control { background: #1c1c1c; border-radius: 2px; border: none; -webkit-box-shadow: 0 0 0 0 #1c1c1c; box-shadow: 0 0 0 0 #1c1c1c; height: 40px; line-height: 40px; color: #fff; }
.contact-section .form-control:focus {
    -webkit-box-shadow: 0 0 6px 0px #1c1c1c;
    box-shadow: 0 0 6px 0px #1c1c1c;
}
.contact-section textarea.form-control { height: auto; resize: none; }
.contact-section .form-group { margin-bottom: 25px; }

.contact-section .submit-btn{ font-size: 14px; letter-spacing: 2px; background: #fcb941; border: 1px solid #fcb941; padding: 15px 50px; display: inline-block; color: #fff; font-weight: 700; border-radius: 2px; }
.contact-section .submit-btn:hover { background: transparent; color: #fcb941; }



.online-order-section { padding: 120px 0px 60px; }

.online-order-section .form-control { border-radius: 4px; }
.online-order-section .multiselect-native-select .btn-group { width: 100% !important; }
.online-order-section .multiselect-native-select .btn-group .multiselect { width: 100% !important; border-radius: 4px; text-align: left; }
.online-order-section .multiselect-native-select .btn-group .multiselect .caret { float: right; margin-top: -11px; }
.online-order-section .multiselect-native-select .btn-group .multiselect-container { left: 0px; right: 0px; }

.choose-menu-items { width: 100%; border-bottom: 2px solid #f3bb45; padding: 0px 15px 20px; margin-bottom: 20px; }
.choose-menu-items:after { content: ""; display: block; clear: both; }
.choose-menu-items h3 { font-size: 20px; text-align: center; margin-bottom: 30px; }


.check-menu-items { width: 100%; }
.check-menu-items:after { content: ""; display: block; clear: both; }

.check-menu-items ul li { float: left; margin: 0px 0px 20px; list-style: none; padding: 10px; width: 100%; min-height: 60px; position: relative; box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); background-color:#EAEAEA; border:#dbdada solid 1px; background: -webkit-linear-gradient(top, #fdfdfd 0%, #e5e5e5 40%, #bebebe 100%); background: -moz-linear-gradient(top, #fdfdfd 0%, #e5e5e5 40%, #bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%, #e5e5e5 40%, #bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%, #e5e5e5 40%, #bebebe 100%); background: linear-gradient(top, #fdfdfd 0%, #e5e5e5 40%, #bebebe 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#bebebe',GradientType=0 ); -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5); box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5); }
.check-area { float: left; }
.check-menu-items .squaredOne { float:left; width: 28px; height: 28px; background: #fcfff4; background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5); box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5); position: relative; }
.check-menu-items .squaredOne label { cursor: pointer; position: absolute; width: 20px; height: 20px; left: 4px; top: 4px; -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1); -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%); background: -moz-linear-gradient(top, #222 0%, #45484d 100%); background: -o-linear-gradient(top, #222 0%, #45484d 100%); background: -ms-linear-gradient(top, #222 0%, #45484d 100%); background: linear-gradient(top, #222 0%, #45484d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 ); }

.plot-size-name { float: left; margin: 4px 12px 0px; line-height: 16px; width: 430px; font-weight: bold; }

.check-menu-items .iCheck-helper { z-index: 99999; }
.check-menu-items .label-link{ position:absolute; top:0px; left:0px; cursor:pointer; width:100%; height:100%; z-index:10; }
.label-link{ position:absolute; top:0px; left:0px; cursor:pointer; width:100%; height:100%; z-index:10; }
.icheckbox_square-green, .iradio_square-green { display: inline-block; vertical-align: middle; margin: 3px 0px 0px 3px; padding: 0; width: 22px; height: 22px; background: url(../images/icheck.png) no-repeat; border: none; cursor: pointer; }
.icheckbox_square-green.checked { background-position: -168px 0; }
.icheckbox_square-green.checked, .icheckbox_square-green.hover { z-index: 9; }

.order-page { padding: 60px; background: #fff; border-radius: 10px; text-align: center; }
.order-page h3 { font-size: 40px; font-weight: bold; text-transform: capitalize; margin-bottom: 30px; }
.order-page h4 { font-size: 30px; line-height: 40px; }
.order-success h3 { color: #28b103; }
.order-failure h3 { color: #fa2c31; }
@media (min-width:0px) and (max-width:520px){
	.footer-top-bar .footer-section { width: 100%; }
	.footer-top-bar .footer-section h3 { margin-bottom: 10px; margin-top: 20px; }
}